.bigImg {
  width:96px;
}

.littleImg {
  width: 40px;
}

.font-size-40 {
  font-size: 40px;
}


.no_margin {
  margin:0px;
}

.todo-list-item::first-letter {
  text-transform: uppercase;
  font-weight: bold;
}
